body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

#Body-header{
height: 65vh;
background-image: url(./bw2.jpg);
background-size: contain;
background-position: center;
background-attachment: fixed;
padding-top: 1.2rem;
opacity: 1;
}

.horizontal-list { 
     list-style: none;
     padding-left: 0px;
     user-select: none;
     
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
     font-weight: 100;
     font-size: 1rem;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid black; 
}

.nav-menu li a{
    transition: color 0.8s,border-bottom 4s;
}

#name-social-container{
    user-select: none;
    margin: 10vh;
    color: white;
}

#my-name{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 600;
    margin-bottom: 0.5rem;
    cursor: default;
    user-select: none;

}

.social-icons li{
    padding: 30px;
    font-size: 1rem;
    border-radius: 50%;
    margin: center;
    
}
   
.social-icons li:hover{
    box-shadow: 0px 0px 6px 4px;color: rgba(185, 189, 191, 0.704);
}

#profile-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    margin: auto ;
    margin-top: -13vh;
    box-shadow: 1px 1px 10px 2px lightgrey;

}

#profile-pic {
    height: 12rem;
    width: 12rem;
    margin-top: -13vh;
    margin: auto;
    position: relative;
    user-select: none;

}
span{
    color: rgb(40,110,184);
    font-weight: 500;
}

p{
    user-select: none;
    margin-left: 200px;
    margin-right: 200px;
line-height: 3rem;
font-style: normal;
font-weight: 100;
opacity: 0.8;
margin-top: -10px;
}

.skill-container{
    background-color: rgb(239,239,239);
    padding-top: 85px;
    background-color: #eeeeee;
}

h2{
    text-align: center;
    margin-top: 20px;
    user-select: none;
    color: rgb(40,110,184);

}

.skill-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 190px;
}

#HTML5{
    width: 200px;
    background-color:60% aqua;
    text-align: center;
    height: 40px;
    padding: 3px;
    margin-left: 150px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background: linear-gradient(to right, rgb(40,87,164) 70%, rgb(211,211,211) 50%);
}

#CSS{width: 200px;
background-color: aqua;
text-align: center;
padding: 3px;
height: 40px;
border-radius: 15px;
border-style: solid;
    border-color: black;
    background: linear-gradient(to right, rgb(128,0,128) 70%, rgb(211,211,211) 50%);
}

#replit{width: 200px;
background-color: aqua;
text-align: center;
height: 40px;
padding: 3px;
border-radius: 15px;
border-style: solid;
    border-color: black;
    background: linear-gradient(to right, rgb(236,77,28) 100%, rgb(211,211,211) 50%);
}

#msteam{width: 200px;
background-color: aqua;
text-align: center;
height: 40px;
padding: 3px;
margin-right: 150px;
border-radius: 15px;
border-style: solid;
    border-color: black;
    background: linear-gradient(to right, rgb(11,129,118) 90%, rgb(211,211,211) 50%);
}


    

*{
    user-select: none;
}